<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    <div class="header">Виртуальный помощник Qbot</div>

    <table id="tabl_msgses">
        <tbody id="spisochk">
        </tbody>
    </table>

    <div class="groups_message">
        <input id="text_message" type="text" size="40">
        <input id="button_message" type="submit" value="Отправить">
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/chat")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




</body>
</html>
